<?xml version="1.0"?>
<config>
    <modules>
        <EasyMode_Customfields>
            <version>0.1.1</version>
        </EasyMode_Customfields>
    </modules>
    <frontend>
        <routers>
            <customfields>
                <use>standard</use>
                <args>
                    <module>EasyMode_Customfields</module>
                    <frontName>customfields</frontName>
                </args>
            </customfields>
        </routers>
        <layout>
            <updates>
                <customfields>
                    <file>customfields.xml</file>
                </customfields>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <customfieldsadmin>
                <use>admin</use>
                <args>
                    <module>EasyMode_Customfields</module>
                    <frontName>customfieldsadmin</frontName>
                </args>
            </customfieldsadmin>
        </routers>
    </admin>
    <adminhtml>
        
        <layout>
            <updates>
                <customfields>
                    <file>customfields.xml</file>
                </customfields>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <customfields>
                <class>EasyMode_Customfields_Model</class>
                <resourceModel>customfields_mysql4</resourceModel>
            </customfields>
            <customfields_mysql4>
                <class>EasyMode_Customfields_Model_Mysql4</class>
                <entities>
                    <customfields>
                        <table>customfields</table>
                    </customfields>
                    <customgroups>
                        <table>customfields_customgroups</table>
                    </customgroups>
                    <customgroupsfields>
                        <table>customfields_customgroupsfields</table>
                    </customgroupsfields>
                </entities>
            </customfields_mysql4>
        </models>
        <resources>
            <customfields_setup>
                <setup>
                    <module>EasyMode_Customfields</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customfields_setup>
            <customfields_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customfields_write>
            <customfields_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customfields_read>
        </resources>
        <blocks>
            <customfields>
                <class>EasyMode_Customfields_Block</class>
            </customfields>
        </blocks>
        <helpers>
            <customfields>
                <class>EasyMode_Customfields_Helper</class>
            </customfields>
        </helpers>
    </global>
</config>